body {
    margin-top: 150px;
    background-color: #363636;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    text-decoration: none;
}

.card .card-title,
.card .card-body {
    display: none;
}

.card:hover .card-title,
.card:hover .card-body {
    display: block;
}

.card {

    aspect-ratio: 2/3;
    width: 80%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.card:hover {
    background-image: none !important;
    background-color: black;
}